.heading{
position: relative;
top: 31px;
}
.dbn{
    margin-top: 3.2rem!important;
}
.dbh{
    margin-top: 6rem!important;
}
button{
    background-color:transparent !important;
    border: none !important;
}